"llm": {
    "provider": "ollama",
    "config": {
        "ollama_base_url": "http://host.docker.internal:11434",
        "api_key": "dummy_key", 
        "temperature": 0.2,
        "model": "llama3.1",
        "max_tokens": 2048
    }
}

"embedder": {
    "provider": "ollama",
    "config": {
        "ollama_base_url": "http://host.docker.internal:11434",
        "model": "embeddinggemma",
        "embedding_dims": 768
    }
}
"vector_store": {
    "provider": "qdrant",
    "config": {
        "host": "qdrant-mem0",
        "port": 6333,
        "collection_name": "ELISA",
        "embedding_model_dims": 768,
        "on_disk": True
    }
}


"graph_store": {
    "provider": "neo4j",
    "config": {
        "url": "bolt://neo4j-mem0:7687",
        "username": "neo4j",
        "password": "neo4mem0",
        "database": "neo4j"
    }
}